:root {
  --primary-color: #4e83c9;
  --background-color: #111;
  --gray-color: #1e1f22;
  --text-color: #f2f2f2;
  --line-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
}

span {
  color: var(--primary-color);
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  line-height: 1.5;
  padding-block: 3rem;
  background-color: var(--background-color);
}

.container {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 4rem;
}

/* Title */

.title-container {
  margin-bottom: 1.5rem;
  margin: 0 3rem 1.5rem 3rem;
  text-align: center;
  color: var(--text-color);
}

.title-container h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.title-container p {
  margin-top: 0.875rem;
  font-size: clamp(1rem, 2vw, 1.1rem);
  font-weight: 500;
}

.desc-progate-plus {
  padding: 1.5rem;
  margin: 0 auto;
  background-color: var(--gray-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  font-weight: 300;
}

/* Timeline */

.timeline {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto 3rem auto;
}

.timeline .timeline-container {
  list-style: none;
}

.timeline .timeline-container .timeline-card {
  padding: 20px;
  background-color: var(--gray-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.timeline .timeline-container .timeline-card:last-child {
  margin-bottom: 0;
}

.timeline-content h2 {
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 1.2rem;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 300;
}

/* List Progate Plus */

.list-progate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  font-weight: 300;
}

.choice {
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.primary-span {
  font-weight: 800;
  text-transform: uppercase;
}

.small-span {
  font-weight: 700;
}

.btn {
  text-decoration: none;
  margin-block: 1rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  transition: transform 300ms ease-in-out;
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.question {
  width: 80%;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .desc-progate-plus {
    max-width: 45vw;
  }
  .title-container {
    margin-bottom: 3rem;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: var(--line-color);
  }
  .timeline .timeline-container .timeline-card {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline .timeline-container .timeline-card:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline .timeline-container .timeline-card:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline .timeline-container .timeline-card::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--line-color);
    top: 0;
  }
  .timeline .timeline-container .timeline-card:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline .timeline-container .timeline-card:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline .timeline-container .timeline-card:hover::before,
  .timeline .timeline-container .timeline-card:focus::before {
    background-color: var(--primary-color);
  }
  .btn {
    margin-block: 2rem;
  }
  .question {
    font-size: 1rem;
  }
}
