@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
:root {
  --primary-color: #4e83c9;
  --background-color: #111;
  --gray-color: #1e1f22;
  --text-color: #f2f2f2;
  --line-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  padding-block: 60px;
  background-color: var(--background-color);
}

.title-container {
  margin-bottom: 4rem;
  text-align: center;
  color: var(--text-color);
}

.title-container h1 {
  font-size: 2.3rem;
}

.title-container p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline .timeline-container {
  list-style: none;
}

.timeline .timeline-container .timeline-card {
  padding: 20px;
  background-color: var(--gray-color);
  color: var(--text-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline .timeline-container .timeline-card:last-child {
  margin-bottom: 0;
}

.timeline-content h2 {
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 1.2rem;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .step {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.list-progate {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.choice {
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.primary-span {
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  transition: transform 300ms ease-in-out;
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.question {
  width: 80%;
  color: var(--text-color);
  line-height: 1.5;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--line-color);
  }
  .timeline .timeline-container .timeline-card {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline .timeline-container .timeline-card:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline .timeline-container .timeline-card:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline .timeline-container .timeline-card::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--line-color);
    top: 0;
  }
  .timeline .timeline-container .timeline-card:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline .timeline-container .timeline-card:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .step {
    position: absolute;
    top: -30px;
  }
  .timeline .timeline-container .timeline-card:hover::before,
  .timeline .timeline-container .timeline-card:focus::before {
    background-color: var(--primary-color);
  }
}
